{% extends "surveyapp/base.html" %}
{% block body %}

<div class="title">
  <h1>{{survey.title_name}} Survey Result's Report</h1>
  <h4>{{people}} other respondants took this survey</h4>
    <h1>Congrats! you just gained  1 point!</h1>
</div>

<div class="question-container">
  <div class="question">
    <div class="question-title">
<p>{{question}}</p>
    </div>
    <hr>
    <div class="radio">
      <div class="radio-button">
        <label>Strongly Agree</label>
<!--        <input type="radio" name="choice" value="Strongly Agree" id="a" disabled>-->
          <div class="answers">{{stronglya}}</div>
      </div>
        <div class="radio-button">
        <label>Agree</label>
<!--        <input type="radio" name="choice" value="Agree" id="b" disabled>-->
            {{agree}}
      </div>
        <div class="radio-button">
        <label>Neutral</label>
<!--        <input type="radio" name="choice" value="neutral" id="c" disabled>-->
            <div class="answers">{{neutral}}</div>
      </div>
        <div class="radio-button">
        <label>Disagree</label>
<!--        <input type="radio" name="choice" value="disagree" id="d" disabled>-->
            <div class="answers">{{disagree}}</div>
      </div>
        <div class="radio-button">
        <label>Strongly Disagree</label>
<!--        <input type="radio" name="choice" value="strongly disagree" id="e" disabled>-->
            <div class="answers">{{stronglyd}}</div>
      </div>



    </div>
  </div>


</div>


  <div class="submit-button">
        <a href="{% url 'index' %}">
      <input type="submit" value="Back to Home">
        </a>


  </div>





{% endblock %}